h1 {
    color: #333;
}

.body {
    font-family: Tahoma, sans-serif;
}
.profile {
    width: 200px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: pink;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}